__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
#*.env
env/
venv/
.vscode/
db/
data/
debug/
raw_data_storage/

*.pid
*.sock
docker-compose.override.yml
*.out
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db
test/
temp/

container_data_storage/
