# Python
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
#*.env
env/
venv/

*.py[cod]
*$py.class


# VSCode
.vscode/

# Docker
db/
data/
*.pid
*.sock
docker-compose.override.yml

# Output
*.out
*.bak
*.tmp
*.swp

# Sistema
.DS_Store
Thumbs.db


# Data raw files
raw_data_storage/
debug/  